<table class="table table-hover table-bordered">
  <tr>
    <th>Product Name</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
  <tbody class='products'>
    <% if @cart_items.present? %>
      <%= render 'cart_items' %>
    <% else %>
      <tr>
        <td colspan="6" class="text-center">Cart is empty</td>
      </tr>
    <% end %>    
  </tbody>
</table>